.social-login
  button.social-logn--github
    span  
      i.fab.fa-github
    |Continue with Github
  button.social-login--facebook
    span  
      i.fab.fa-facebook-square
    |Continue with Facebook